<!-- templates/index.html -->

{% extends '_base.html' %}

{% block content %}
  <div style="text-align:center;">
    {% if current_user.is_authenticated %}
      <h1>You are logged in with your GitHub account {{current_user.username}}</h1>
      <br>
               <h2>Welcome!{{current_user.username}}<br>
                <hr style="width:100%; align-items:center", size="3", color=black> <br>
                Try any of these functionalities </h2> <br>

      <a href="{{url_for('flask_code_generation')}}" class="btn btn-primary">flask_API_generator</a><br><br>
      <a href="{{ url_for('SQL_code_generation') }}" class="btn btn-primary">SQL Query generator</a><br><br>
      <a href="#" class="btn btn-primary">Code code Explainer</a><br><br>
      <hr style="width:100%; align-items:center", size="3", color=black> <br>
      <a href="{{url_for('logout')}}" class="btn btn-danger">Logout</a>
    {% else %}
      <!-- GitHub button starts here -->
      <a href="{{url_for('login_github')}}"  class="btn btn-secondary">
        <i class="fa fa-github fa-fw"></i>
        <span>Login with GitHub</span>
      </a>
      <!-- GitHub button ends here -->

    {% endif %}
  </div>
{% endblock content %}
