<!-- templates/index.html -->

{% extends '_base.html' %}

{% block content %}
  <div style="text-align:center;">
    {% if current_user.is_authenticated %}
      <h1>You are logged in with your GitHub account {{current_user.username}}</h1>
      <br>
      your token is : {{current_user.username}}<br>
      <a href="{{url_for('flask_code_generation')}}" class="btn btn-danger">flask_API_generator</a>
      <a href="{{ url_for('SQL_code_generation') }}" class="btn btn-danger">SQL Query generator</a>
      <a href="#" class="btn btn-danger">Code code Explainer</a><br><br>
      <a href="{{url_for('logout')}}" class="btn btn-danger">Logout</a>
    {% else %}
      <!-- GitHub button starts here -->
      <a href="{{url_for('login_github')}}"  class="btn btn-secondary">
        <i class="fa fa-github fa-fw"></i>
        <span>Login with GitHub</span>
      </a>
      <!-- GitHub button ends here -->

    {% endif %}
  </div>
{% endblock content %}
